@media only screen and (min-width:1601px) and (max-width: 1850px) {}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {}

@media only screen and (min-width: 1367px) and (max-width: 1399px) {}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {}


/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .title {
        font-size: 100px;
        line-height: 110px;
    }
    .topbar-inner .right-contnet .volunteer-right {
        display: none;
    }
    .help-and-support-right .support-img .thumb {
        width: 100%;
        margin-top: 40px;
    }
    .help-and-support-right .support-img .thumb img {
        width: 100%;
    }
    .help-and-support-right .donation-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .volunteer-single-item::after {
        left: 0;
        transform: initial;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .attend-events-area .attend-title-content {
        display: block;
    }
    .attend-events-area .attend-title-content .section-title {
        width: 100%;
    }
    .attend-events-area .attend-title-content .section-paragraph {
        width: 100%;
        padding-right: 0;
    }
    .contact_info_list li.single-info-item-02 {
        margin-left: 0;
    }
    .header-bottom-area .support-single-item {
        margin-top: 40px;
    }
    .support-single-img img {
        width: 100%;
    }
    .problem-area .problem-area-wrapper {
        padding: 75px 45px 45px;
    }
    .volunteer-single-item-lists .volunteer-single-item {
        padding: 40px 30px 70px;
    }
    .header-bottom-area .bg-img {
        width: 40%;
    }
    .about-area .about-title-content {
        display: block;
    }
    .about-area .about-title-content .section-title {
        width: 100%;
    }
    .about-area .about-title-content .section-paragraph {
        width: 100%;
    }
    .widget.widget_event ul {
        padding-left: 30px;
        padding-right: 30px;
    }
    .widget.widget_map .contact_map-02 {
        padding: 15px 30px 45px 30px;
    }
    .widget .widget-title.style-02,
    .widget .widget-title.style-01 {
        padding: 20px 30px;
    }
    .widget_tag_cloud .tagcloud {
        padding: 0 30px;
    }
    .widget.widget_archive ul,
    .widget .recent_post_item {
        padding-left: 30px;
    }
    .our-latest-area.padding-bottom-130.padding-top-120 {
        padding-bottom: 90px;
    }
    .volunteer-area.padding-bottom-120 {
        padding-bottom: 90px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (max-width: 991px) {
    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
        padding-right: 0;
    }
    .section-title .title {
        font-size: 52px;
        line-height: 62px;
    }
    .header-area .title {
        font-size: 100px;
        line-height: 110px;
    }
    .logo-wrapper .logo-pc {
        display: none;
    }
    .navbar-area.nav-style-02.charity-nav-02 .nav-container .logo-wrapper .mobile-logo {
        display: block;
    }
    .header-area {
        padding: 290px 0 175px;
    }
    .header-area.style-01 {
        padding: 295px 0 295px;
    }
    .navbar-area.nav-style-02.charity-nav-02 .nav-container,
    .navbar-area.nav-style-02 {
        background-color: transparent;
    }
    .navbar-area.nav-style-02 .nav-container .nav-right-content {
        display: none;
    }
    .navbar-area.nav-style-02.charity-nav-03 .nav-container {
        padding: 22px 0px;
    }
    .navbar-area.nav-style-02.charity-nav-02 .nav-container .logo-wrapper {
        padding: 30px 30px;
    }
    .navbar-area.nav-style-02 .nav-container .logo-wrapper {
        position: initial;
        clip-path: initial;
        border-left: 0;
    }
    .topbar-area .topbar-inner {
        margin-left: 0;
    }
    .topbar-inner .right-contnet .volunteer-right {
        display: none;
    }
    .help-and-support-right .support-img .thumb {
        width: 100%;
        margin-top: 40px;
    }
    .help-and-support-right .support-img .thumb img {
        width: 100%;
    }
    .help-and-support-right .donation-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .volunteer-single-item::after {
        left: 0;
        transform: initial;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .volunteer-single-item {
        padding: 40px 30px 70px;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 62px;
        line-height: 72px;
    }
    .work-towards-area .right-content {
        margin-top: 50px;
        height: initial;
    }
    .volunteer-area .volunteer-title-content {
        display: block;
    }
    .attend-events-area .attend-title-content .section-paragraph,
    .volunteer-area .volunteer-title-content .section-paragraph {
        width: 100%;
        padding-right: 0;
    }
    .attend-events-area .attend-title-content,
    .about-area .about-title-content {
        display: block;
    }
    .attend-events-area .attend-title-content .section-title,
    .about-area .about-title-content .section-title,
    .volunteer-area .volunteer-title-content .section-title {
        width: 100%;
    }
    .about-area .about-title-content .section-paragraph {
        width: 100%;
    }
    .contact_info_list li.single-info-item-02 {
        margin-left: 0;
    }
    .help-and-support-right .support-img-02.bg-image {
        margin-bottom: 35px;
    }
    .header-bottom-area .support-single-item {
        margin-top: 40px;
    }
    .support-single-img img {
        width: 100%;
    }
    .volunteer-single-item-lists li {
        width: calc(100% / 2);
    }
    .header-bottom-area .bg-img {
        display: none;
    }
    .donation_wrapper {
        margin-top: 40px;
    }
    .help-and-support-right .support-img::before {
        display: none;
    }
    .volunteer-area.padding-top-160 {
        padding-top: 120px;
    }
    .widget-area {
        margin-top: 60px;
    }
    .widget_subscribe {
        display: block;
    }
    .widget.footer-widget .subscribe-form {
        margin-top: 30px;
    }
    .widget_subscribe .subscribe-form .form-group .form-control {
        min-width: 100%;
    }
    .help-and-support-right .donation-content {
        display: none;
    }
    .header-bottom-area.padding-bottom-115.padding-top-115 {
        padding-bottom: 0;
        padding-top: 0;
    }
    .about-content-area .bg-img {
        display: none;
    }
    .about-content-area.padding-top-60.padding-bottom-60 {
        padding-bottom: 0;
        padding-top: 0;
    }
    .our-latest-area.padding-bottom-130.padding-top-120 {
        padding-bottom: 90px;
    }
    .volunteer-area.padding-bottom-120 {
        padding-bottom: 90px;
    }
    .breadcrumb-area .breadcrumb-inner {
        padding: 278px 0 155px 0;
    }
}


/* Tablet Layout wide: 768px. */

@media only screen and (max-width: 767px) {
    .section-title .title {
        font-size: 46px;
        line-height: 56px;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 48px;
        line-height: 58px;
    }
    .header-area .title {
        font-size: 100px;
        line-height: 110px;
    }
    .problem-single-item .content p {
        max-width: initial;
    }
    .problem-area .problem-area-wrapper {
        padding: 75px 60px 45px;
    }
    .volunteer-single-item-lists li {
        width: calc(100% / 1);
    }
    .donation-img-thumb .thumb img,
    .blog-img-thumb .thumb img {
        width: 100%;
    }
    .donation-img-thumb .thumb-02,
    .blog-img-thumb .thumb-02 {
        margin-top: 30px;
    }
    .donation-img-thumb .thumb-02 img,
    .blog-img-thumb .thumb-02 img {
        width: 100%;
    }
    .comments-area .comment-form-wrap {
        padding: 50px 60px 55px;
    }
    .volunteer-area.padding-bottom-120.padding-top-70 {
        padding-top: 0;
    }
    .events-single-item .content .title {
        font-size: 20px;
        line-height: 30px;
    }
    .topbar-inner.style-01 .right-contnet .social-link ul li .info-bar-item {
        display: none;
    }
    .topbar-inner.style-01 {
        padding: 10px 0;
    }
}


/* medium tablet layout 599px */

@media only screen and (max-width: 599px) {
    .header-area .title {
        font-size: 90px;
        line-height: 100px;
    }
    .header-area p,
    .header-area span {
        font-size: 22px;
        line-height: 32px;
    }
    .section-title .title {
        font-size: 42px;
        line-height: 52px;
    }
    .problem-area .bg-img {
        display: none;
    }
    .problem-area.margin-top-120.padding-top-120.padding-bottom-120 {
        margin-top: 0;
        padding-bottom: 0;
    }
    .donation-details-item .content-wrapper {
        display: block;
    }
    .donation-details-item .content-wrapper .progress-content {
        width: 100%;
    }
    .donation-details-item .content-wrapper .btn-wrapper {
        margin-top: 30px;
    }
    .single-counterup-01 .content .count-wrap {
        font-size: 38px;
        line-height: 48px;
    }
    .single-counterup-01 .icon {
        font-size: 56px;
        line-height: 66px;
    }
    .inner-section-title.padding-top-160.bg-image {
        padding-top: 60px;
    }
    .about-content {
        background-color: #f3f0ea;
        padding: 60px 60px 60px 60px;
    }
    .breadcrumb-area .breadcrumb-inner {
        padding: 248px 0 125px 0;
    }
    .breadcrumb-area .page-title {
        font-size: 52px;
        line-height: 62px;
    }
    .about-content {
        background-color: #f3f0ea;
        padding: 60px 40px;
    }
    .comments-area .comment-list .has-children {
        padding-left: 20px;
    }
    .comments-area .comment-form-wrap {
        padding: 50px 30px 55px;
    }
    .problem-area.margin-top-90.padding-top-120.padding-bottom-120 {
        padding-top: 0;
    }
}

@media only screen and (max-width: 450px) {
    .header-area .title {
        font-size: 75px;
        line-height: 85px;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 42px;
        line-height: 52px;
    }
    .section-title .title {
        font-size: 36px;
        line-height: 46px;
    }
    .events-single-item {
        display: block;
    }
    .events-single-item .thumb {
        max-width: 100%;
    }
    .events-single-item .thumb .bg-image {
        min-height: 280px;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 36px;
        line-height: 46px;
    }
    .counterup-area.bg-image.padding-bottom-105.padding-top-90 {
        padding-bottom: 85px;
    }
    .info-items-02 li.volunteer {
        display: none;
    }
    .breadcrumb-area .page-title {
        font-size: 52px;
        line-height: 62px;
    }
    .breadcrumb-area .page-title {
        font-size: 42px;
        line-height: 52px;
    }
    .blog-details-item .title,
    .blog-classic-item-01 .content-wrapper .title {
        font-size: 28px;
        line-height: 38px;
    }
    .help-and-support-right .support-img::after {
        display: none;
    }
    .events-single-item .content {
        padding: 35px 20px 40px;
    }
    .problem-area .problem-area-wrapper {
        padding: 75px 30px 45px;
    }
    .blog-details-footer {
        display: block;
    }
    .blog-details-footer .left .tags {
        margin-bottom: 20px;
    }
    .content-carousel.slick-slider .slick-list {
        padding: 0 20px !important;
    }
}


/* mobile tablet layout 414px */

@media only screen and (max-width: 414px) {
    .topbar-area .topbar-inner .left-contnet {
        display: none;
    }
    .topbar-inner .right-contnet {
        justify-content: center;
        width: 100%;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 32px;
        line-height: 42px;
    }
    .header-area .title {
        font-size: 65px;
        line-height: 75px;
    }
    .section-title .title {
        font-size: 32px;
        line-height: 42px;
    }
    .breadcrumb-area .breadcrumb-inner {
        padding: 228px 0 105px 0;
    }
    .breadcrumb-area .page-title {
        font-size: 38px;
        line-height: 48px;
    }
    .widget.widget_event ul {
        padding-left: 30px;
        padding-right: 30px;
    }
    .widget.widget_map .contact_map-02 {
        padding: 15px 30px 45px 30px;
    }
    .widget .widget-title.style-02,
    .widget .widget-title.style-01 {
        padding: 20px 30px;
    }
    .widget_tag_cloud .tagcloud {
        padding: 0 30px;
    }
    .widget.widget_archive ul,
    .widget .recent_post_item {
        padding-left: 30px;
    }
    .single-blog-grid-01 .content-wrapper,
    .blog-details-item .content-wrapper,
    .blog-classic-item-01 .content-wrapper {
        padding-bottom: 10px;
    }
    .single-blog-grid-01 .content-wrapper .news-date {
        position: absolute;
        bottom: 170px;
        left: 15px;
    }
    .blog-details-item .content-wrapper .news-date,
    .blog-classic-item-01 .content-wrapper .news-date {
        position: absolute;
        top: 80px;
        left: 15px;
    }
    .single-blog-grid-01 .content-wrapper .news-date .title,
    .blog-classic-item-01 .content-wrapper .news-date .title,
    .blog-details-item .content-wrapper .news-date .title {
        padding: 2px 15px;
    }
}


/* mobile tablet layout 375px */

@media only screen and (max-width: 384px) {
    .header-area .title {
        font-size: 55px;
        line-height: 65px;
    }
    .comments-area .comment-list li .single-comment-wrap {
        display: block;
    }
    .volunteer-single-item .content .title {
        font-size: 24px;
    }
    .donation_wrapper {
        padding: 55px 30px 60px;
    }
    .header-area p,
    .header-area span {
        font-size: 20px;
    }
}


/* mobile tablet layout 360px */

@media only screen and (max-width: 360px) {
    .contact-inner-area .content-area-wrapper .content-area {
        padding: 20px 15px;
    }
    .single-contact-item .icon {
        line-height: 40px;
        font-size: 30px;
    }
    .work-towards-area .left-content .inner-section-title .title {
        font-size: 30px;
        line-height: 40px;
    }
    .section-title .title {
        font-size: 30px;
        line-height: 40px;
    }
    .single-counterup-01 .content .count-wrap {
        font-size: 34px;
        line-height: 44px;
    }
    .breadcrumb-area .page-title {
        font-size: 36px;
        line-height: 46px;
    }
    .blog-details-item .content-wrapper .news-date,
    .blog-classic-item-01 .content-wrapper .news-date {
        position: absolute;
        top: 60px;
    }
}

@media only screen and (max-width: 340px) {}


/* mobile tablet layout 320px */

@media only screen and (max-width: 330px) {}